* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.divider {
    margin: 18px auto 0 auto;
    width: 220px;
    height: 7px;
    background: #F9BF3B;
}

.promo {
    height: 800px;
    padding: 40px 0 60px 0;
    background: url('../img/main_bg.jpg') center center/cover no-repeat;
    color: #fff;
}

.promo__header {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

/* .promo__header-logo {} */

.promo__header-subheader {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

.promo__title-block {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo__title {
    display: block;
    margin-top: 20px;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    color: #F9BF3B;
    text-transform: uppercase;
}

h1.promo__title {
    margin-top: 55px;
}

.promo__title-divider {
    margin: 0;
    width: 292px;
    height: 2px;
    background-color: #fff;
}

.promo__title-simple {
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
}

.promo__subtitle {}

.promo__descr {
    margin-top: 25px;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
}

.promo__descr span {
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    color: #F9BF3B;
    text-transform: uppercase;
}

.promo__btn {
    margin: 72px auto 0 auto;
    padding: 24px 15px;
    width: 320px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 300;
    border: 0px;
    color: #fff;

}

.promo__more {
    margin-top: 70px;
    font-weight: 200;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;

}

.promo__more a {
    color: #fff;
    text-decoration: none;
}

.promo__more-down {
    margin-top: 5px;
}
.webinar {
    min-height: 607px;
    padding: 85px 0 75px 0;
    background: #EFEFEF;
}

.webinar__subtitle {
    margin-top: 18px;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
}

.webinar__perks {
    margin: 45px auto 0 auto;
    display: grid;
    grid-template: 1fr / repeat(3, 370px);
    column-gap: 15px;
}

.webinar__perks-item {
    display: grid;
    grid-template: 205px minmax(45px, auto) / 1fr;
    text-align: center;
    row-gap: 26px;
}

.webinar__perks-img {
    width: 100%;
}

.webinar__perks-descr {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}

.optimization {
    min-height: 547px;
    padding: 108px 0 74px 0;
}

.optimization__wrapper {
    margin: 0 0 0 auto;
    position: relative;
    width: 750px;
    min-height: 312px;

}

.optimization__title {
    font-weight: 900;
    color: #299CBD;
    text-align: left;
}

.optimization__descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;

}

.optimization__img {
    position: absolute;
    top: -62px;
    left: -634px;
    z-index: -1;
}
.finish {
    padding: 85px 0 70px 0;
    height: 450px;
    background: url('../img/finish_learning.jpg') center center/cover no-repeat;
}

.white {
    color: #EFEFEF;
    text-align: center;
}

.finish__abilities {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

}

.finish_ability {
    min-height: 185px;
    width: 230px;
    margin: 0 10px;
}

.finish__ability-circle {
    margin: 0 auto;
    width: 118px;
    height: 118px;
    border-radius: 100%;
    background: #B4E2FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish__ability-img {
    display: block;
}

.finish__ability-descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #EFEFEF;
    text-align: center;
}